html, body {
  /* background-color: 'white'; */
  overflow-y: scroll;
}

html:root {
  /* background-color: "white"; */
}
.card {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px; */
}

.today {
    /* box-shadow: rgba(0, 255, 0, 0.8) 0px 2px 10px; */
}

.weekday {
  background-color: #356991;
  color: '#fff'
  
}

.weekendDay {
  background-color: #356991;
  color: '#fff'
}